/* Estilos generales para el contenedor de metas */
.meta-container {
    margin: 5px; /* Reduce el margen para achicar más el contenedor */
    padding: 5px;
    max-width: 200px; /* Ajusta el ancho máximo según tus preferencias */
    overflow: auto;
    background-color: transparent; /* Quita el fondo */
  }
  
  /* Estilos específicos para MetaCompletada */
  .meta-completada {
    color: #fff; /* Cambia el color de las letras a oscuro */
  }
  
  /* Estilos específicos para MetaEnProgreso */
  .meta-en-progreso {
    color: #fff; /* Cambia el color de las letras a oscuro */
  }
  
  /* Ajustes de fuente y lista */
  .meta-container h3 {
    margin-bottom: 5px;
    font-size: 16px; /* Ajusta el tamaño de la fuente según tus preferencias */
    color: #fff; /* Cambia el color de las letras a oscuro */
  }
  
  .meta-container p {
    margin: 0;
    font-size: 16px; /* Ajusta el tamaño de la fuente según tus preferencias */
    color: #fff; /* Cambia el color de las letras a oscuro */
  }
  
  /* Estilos para la lista scrollable */
  .vista-contenido {
    max-height: 300px; /* Ajusta la altura máxima según tus preferencias */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }