.contenedor-calendarios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  text-emphasis-color: white;
}

.calendario {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.seleccion_calendario {
  max-width: 100px;
  max-height: 100px;
}


